<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Production-->
  <connectionStrings>
    <add name="DarkSoulsSiteConnection" 
      connectionString="Server=97ab8db5-f955-4371-913b-a77a015b2054.sqlserver.sequelizer.com;
      Initial Catalog=db97ab8db5f9554371913ba77a015b2054;
      Persist Security Info=True;
      User ID=ayqgpuidcjiymbcr;
      Password=Z5NB8oF6oUFtWvkCTVVnsMJGsXUcZ8mF2iNQUWiVzPbYqbuRjXnQpZwmtgiiBCfp;
      MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--Dev-->
  <!--<connectionStrings>
    <add name="DarkSoulsSite-DevConnection" 
         connectionString="Data Source=.;
         Initial Catalog=DarkSoulsSiteMVC-Dev;
         Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

</configuration>